.home {
  box-sizing: border-box;

  display: flex;

  width: 370px;
  height: 42px;

  padding: 8px 15px 8px 22px;

  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  &:hover {
    .checkbox {
      display: none;
    }
  }
}
