.checkbox__container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.checkmark {
  display: none;
  position: absolute;
  width: 19px;
  height: 14px;
  pointer-events: none;
}

.checkbox {
  /* reset checkbox default styles */
  appearance: none;

  /* custom checkbox styles */
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  cursor: pointer;
  position: relative;

  &:hover {
    border-color: #bdbdbd;
  }

  &:hover + .checkmark {
    display: block;
  }

  &:active {
    border-color: #bdbdbd;
  }

  &:active + .checkmark {
    display: block;
    color: #878787;
  }

  &:checked {
    background-color: #5087f8;
    border: none;
  }

  &:checked + .checkmark {
    display: block;
    color: #ffffff;
  }

  &:checked:hover {
    background-color: #2469f6;
  }
}

.checkbox__static {
  /* reset checkbox default styles */
  appearance: none;

  /* custom checkbox styles */
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}
